.avatar-card {
  height: 95%;
}
.avatar-card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  width: 100%;
}

.avatar-title {
color: "black";
text-align: "justify";
font-size: "5%";
}

div.card-body {
  margin-bottom: 20px;
  bottom: 0;
}

.avatar-subtitle{
color:'black';
text-align:"justify";
font-size:"2%";
}

a.avatar-social-icon {
  margin: 10px 5px;
}
