.wcs_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: rgb(238, 137, 137) solid 3px;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.2);
  height: 100px;
}

.wcs_header_items {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.wcs_header_items span {
  padding-left: 30px;
}

header img {
  height: 30px;
}
